<div class="employee-details">
    <div class="employee-board">
        <div class="employee-info">
            <p class="employee-details-title">Empoyee details: </p>
            <p class="employee">Id:
                <span class="contrete-info">{{employeeObj.id}}</span>
              </p>
              <p class="employee">Name:
                <span class="contrete-info">{{employeeObj.name}}</span>
              </p>
              <p class="employee">Last name:
                <span class="contrete-info">{{employeeObj.last_name}}</span>
              </p>
              <p class="employee">Position:
                <span class="contrete-info">{{employeeObj.position}}</span>
              </p>
              <p class="employee">Salary:
                <span class="contrete-info">{{employeeObj.salary}}</span>
              </p>
              <button routerLink="/" class="back">
                 Back
              </button>
        </div>
    </div>
</div>