.titleText{
    color:  rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 600;
    cursor: default; 
  }

  .navbar{
    background: rgb(0, 112, 144);
    border-bottom: 3px solid  rgb(163, 186, 195);
    padding: 1.2em;
  }

 