<form [formGroup]="configService.form" class="normal-form"> 
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
          <input formControlName="name" matInput placeholder="Name">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="lastName" matInput placeholder="Last name">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="position" matInput placeholder="Position">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="salary" matInput placeholder="Salary">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="configService.form.invalid">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
    <!-- <mat-grid-tile>
      <div class="controles-container">
        <div class="add-bottom-padding"></div>
      </div>
    </mat-grid-tile> -->
  </mat-grid-list>
</form>
<!-- <div class="employees-list">
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
        <th>Name&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
        <th>Last name&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
        <th>Position</th>
        <th>Salary</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let employee of employeeObj" class="employee-list-item">
        <td>{{employee.id}}</td>
        <td> {{employee.name}}</td>
        <td> {{employee.last_name}}</td>
        <td> {{employee.position}}</td>
        <td>{{employee.salary}}</td>
      </tr>
    </tbody>

  </table>
</div>
 -->
