<div class="employees-list">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Lp.</th>
        <th>Name</th>
        <th>Last name</th>
        <th>Position</th>
        <th>Salary</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let employee of employeeObj; let i = index" class="employee-list-item">
        <td>{{i+1}}</td>
        <td> {{employee.name}}</td>
        <td> {{employee.last_name}}</td>
        <td> {{employee.position}}</td>
        <td>{{employee.salary}}</td>
      </tr>
    </tbody>

  </table>
</div>

<!-- <div class="employees-list">
    <div class="employees-list-header">
        <p class="title-column">
            Lp.
        </p>
        <p class="title-column">
            Name
        </p>
        <p class="title-column">
            Last name
        </p>
        <p class="title-column">
            Position
        </p>
        <p class="title-column">
            Salary
        </p>

    </div>

    <div *ngFor="let employee of employeeObj; let i = index" class="employee-list-item">
        <p>
            {{i+1}}
          </p>
          <p>
            {{employee.name}}
          </p>
          <p>
            {{employee.last_name}}
          </p>
          <p>
            {{employee.position}}
          </p>
          <p>
            {{employee.salary}}
          </p>
    </div>
</div> -->