<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Last name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.last_name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef>Position</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.position}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="salary">
      <mat-header-cell *matHeaderCellDef>Salary</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.salary}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
  </mat-table>
</div>
<!-- <div class="employees-list">
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
        <th>Name&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
        <th>Last name&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
        <th>Position</th>
        <th>Salary</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let employee of employeeObj" class="employee-list-item">
        <td>{{employee.id}}</td>
        <td> {{employee.name}}</td>
        <td> {{employee.last_name}}</td>
        <td> {{employee.position}}</td>
        <td>{{employee.salary}}</td>
      </tr>
    </tbody>

  </table>
</div>
 -->
